# LLM API Keys
GROQ_API_KEY=your_groq_api_key_here
MISTRAL_API_KEY=your_mistral_api_key_here

# Email Configurations (Gmail App Password is recommended if using Gmail)
EMAIL_ADDRESS=your_email@gmail.com
EMAIL_PASSWORD=your_email_app_password_here

# App Scheduling Configurations
SCRAPE_INTERVAL_HOURS=6
DIGEST_HOUR=8
DIGEST_MINUTE=0
